.pag_normal{
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid silver;
    color: #000000;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    width: 24px;
}

.pagination {
    font-size: 80%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;         
}
        
.pagination a {
    text-decoration: none;
    border: solid 1px #AAE;
    color: #15B;
}

.current_pagina {
    background: none repeat scroll 0 0 #1F481F;
    border: 1px solid #1F481F;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    width: 24px;
}

.pagination .current_prev, .pagination .current_next{
    color: #999;
    border: 1px solid silver;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.current_next{
    color:#999;
    border-color: silver;
    background:#fff;
}

.current_prev{
    color:#999;
    border-color: silver;
    background:#fff;
}

.prev{
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid silver;
    color: #000000;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    width: 24px;
}

.next{
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid silver;
    color: #000000;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    width: 24px;
}
