body {

}

.classTituloPagina{
    font-family: 'Arial';
    font-size: 2em;
    text-align: center;
    margin: 20px 0 0 0;
    height: 20px;
}

.classSubTituloPagina {
    font-family: 'Arial';
    font-size: 1.4em;
    text-align: center;
    margin: 30px 0 30px 0;
}

.classMsgSemArquivos {
    text-align: center;
    color: red;
    font-family: Arial;
    font-size: 1.8em;
    margin-top: 100px;
}

.tableHeadera
{
    font-size: 1.4em;
    font-family:'Arial Narrow';
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-top: 40px;
    padding-top: 40px;
    height: 20px;
}

.tableHeader2a
{
    font-family:'Arial Narrow';
    font-size: 1.2em;
    font-weight: bold;
    height: 10px;
}

.classTotalArq {
    height: 50px;
    font-weight: bold;
    text-align: right;
}

.classCellTotalArq {
    padding-right: 10px;
}

.classTotalGeralArq {
    width: 400px;
    margin: 0 auto;
    font-family: 'Arial Narrow';
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
    border-top: 1px solid #000;
    padding: 10px 10px 0 0;
}

.classRow {
    height: 20px;
}

.classRowNomeArq {
    padding-left: 10px;
}

.classTable {
    width: 400px;
    margin: 10px auto;
}

.classTituloComissoesProduto
{
    text-align: left; 
    background-color: #808080; 
    color: #FFFFFF;
    font-weight: bold;
    border-bottom:1px solid black;
}

.classDataGrid
{
    background-color: #fff;
    margin: 0 auto;
    padding-top: 20px;
}

.classDataGrid .pgr { background-color: #3d5888; }  
.classDataGrid .pgr td {   
    border-width: 0;   
    padding: 0 4px;   
    font-weight: bold;   
    color: #fff;   
    line-height: 25px;
 }     
.classDataGrid .pgr a { color: #ccc; text-decoration: none; }  
.classDataGrid .pgr a:hover { color: #fff; text-decoration: none; }  

.classDataGrid .classGridCabec
{
	background-color: #3d5888;
	color: #fff;
	font-weight: bold;
}

.classDataGrid .alt { background-color: #f2f2f2; }