<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	 <display-name>CarteiraPedidos2</display-name>
	 <welcome-file-list>
	   <welcome-file>index.jsp</welcome-file>
	 </welcome-file-list>
	 <context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:applicationContext.xml</param-value>
	 </context-param>
	 <listener>
	   <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	 </listener>
	 <listener>
	   <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	 </listener>
	 <servlet>
	   <servlet-name>DealerControll</servlet-name>
	   <servlet-class>com.deere.carteirapedidos.controll.DealerControll</servlet-class>
	 </servlet>
	 <servlet-mapping>
	   <servlet-name>DealerControll</servlet-name>
	   <url-pattern>/DealerControll</url-pattern>
	 </servlet-mapping>
	 <servlet>
	   <servlet-name>BankControll</servlet-name>
	   <servlet-class>com.deere.carteirapedidos.controll.BankControll</servlet-class>
	 </servlet>
	 <servlet-mapping>
	   <servlet-name>BankControll</servlet-name>
	   <url-pattern>/BankControll</url-pattern>
	 </servlet-mapping>
	 <servlet>
	   <servlet-name>CalendarioControll</servlet-name>
	   <servlet-class>com.deere.carteirapedidos.controll.CalendarioControll</servlet-class>
	 </servlet>
	 <servlet-mapping>
	   <servlet-name>CalendarioControll</servlet-name>
	   <url-pattern>/CalendarioControll</url-pattern>
	 </servlet-mapping>
	 <servlet>
	   <servlet-name>ProductControll</servlet-name>
	   <servlet-class>com.deere.carteirapedidos.controll.ProductControll</servlet-class>
	 </servlet>
	 <servlet-mapping>
	   <servlet-name>ProductControll</servlet-name>
	   <url-pattern>/ProductControll</url-pattern>
	 </servlet-mapping>
	<mime-mapping>    
            <extension>js</extension>        
            <mime-type>application/javascript</mime-type>        
        </mime-mapping>
        <mime-mapping>
    <extension>sub</extension>
    <mime-type>application/json</mime-type>
</mime-mapping>
	
	<servlet>
		<servlet-name>pesquisar</servlet-name>
		<jsp-file>/WEB-INF/views/faturados/_pesquisar.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>pesquisar</servlet-name>
		<url-pattern>/pesquisarFaturados</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>spring</servlet-name>
			<servlet-class>
				org.springframework.web.servlet.DispatcherServlet
			</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
    	<filter-name>httpMethodFilter</filter-name>
    	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
	    <filter-name>httpMethodFilter</filter-name>
	    <servlet-name>spring</servlet-name>
	</filter-mapping>
	
	
	<filter>  
    	<filter-name>encodingFilter</filter-name>  
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
    		<init-param>  
       			<param-name>encoding</param-name>  
       			<param-value>UTF-8</param-value>  
    		</init-param>  
    		<init-param>  
       			<param-name>forceEncoding</param-name>  
       			<param-value>true</param-value>  
    		</init-param>  
	</filter>  
	<filter-mapping>  
    	<filter-name>encodingFilter</filter-name>  
    	<url-pattern>/*</url-pattern>  
	</filter-mapping> 
	
	<error-page>
		<error-code>403</error-code>
		<location>/error/accessDenied.jsp</location>
	</error-page>
	
</web-app>